@import 'bulma/sass/utilities/_all.sass';
@import 'bulma/sass/components/media.sass';
@import 'bulma/sass/elements/tag.sass';

.article-title {
  color: $link;
}

.article-body {
  line-height: 1.4;
}

.no-overflow {
  overflow: hidden;
}
