@import 'bulma/sass/utilities/_all.sass';
@import 'bulma/sass/base/_all.sass';
@import 'bulma/sass/layout/section.sass';
@import 'bulma/sass/elements/container.sass';
@import 'bulma/sass/elements/content.sass';
@import 'bulma/sass/grid/columns.sass';
@import 'bulma/sass/elements/notification.sass';
@import 'bulma/sass/components/media.sass';
@import 'bulma/sass/elements/tag.sass';
@import 'bulma/sass/components/breadcrumb.sass';
@import 'bulma/sass/elements/form.sass';
@import 'bulma/sass/elements/table.sass';
@import 'bulma/sass/components/tabs.sass';

// Assume will contain is-title to render typography
@import 'bulma/sass/elements/title.sass';

// Assume will contain a timeline, xd
// @import 'bulma/sass/extensions/timeline.sass';

.titles-section {
	padding-left: 0;
	padding-right: 0;
	text-align: center;
}

.article-title {
  color: $link;
}

.article-body {
  line-height: 1.4;
}

span.is-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul.article-list {
  list-style-type: none;
  margin: auto;
}

#retirementTimeline {
  width: 100%;
  flex: 1;
}