@import 'bulma/sass/utilities/_all.sass';
@import 'bulma/sass/base/_all.sass';
@import 'bulma/sass/layout/section.sass';
@import 'bulma/sass/elements/container.sass';
@import 'bulma/sass/elements/content.sass';
@import 'bulma/sass/grid/columns.sass';

// Assume the layout will be used to render typography
@import 'bulma/sass/elements/title.sass';

.titles-section {
	padding-left: 0;
	padding-right: 0;
	text-align: center;
}
