@import '../bulma/sass/utilities/_all.sass';
@import '../bulma/sass/base/_all.sass';
@import '../bulma/sass/layout/section.sass';
@import '../bulma/sass/elements/container.sass';
@import '../bulma/sass/elements/content.sass';
@import '../bulma/sass/grid/columns.sass';

// Assume will contain is-title to render typography
@import '../bulma/sass/elements/title.sass';

// Assume will contain a timeline, xd
// @import 'bulma/sass/extensions/timeline.sass';

.titles-section {
	padding-left: 0;
	padding-right: 0;
	text-align: center;
}
